<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="8" name="Test" parallel="classes">
<!--  <test name="Test">-->
    <classes>
      <class name="com.swaglabs.Tests.LoginInvalidUser"/>
      <class name="com.swaglabs.Tests.LaunchSwagLabs"/>
      <class name="com.swaglabs.Tests.LoginLockedOutUser"/>
      <class name="com.swaglabs.Tests.AddToCartSingleItem"/>
      <class name="com.swaglabs.Tests.LoginLogoutStandardUser"/>
      <class name="com.swaglabs.Tests.AddToCartMultipleItems"/>
      <class name="com.swaglabs.Tests.ValidateOrderTotals"/>
      <class name="com.swaglabs.Tests.LoginValidUser"/>
      <class name="com.swaglabs.Tests.CompleteOrder"/>
      <class name="com.swaglabs.Tests.TestBase"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
